/.bashrc
/.bash_history
/.bash_logout
/.bash_profile
/.bundle
/.bundler
/.cache
/.gem
/.ipython
/.lesshst
/.mysql_history
/.node_modules
/.npm
/.npm-debug.log
/.pki
/.pry_history
/.rbenv
/.rediscli_history
/.sbt
/.scala_history
/.sqlite_history
/.spark_history
/.ssh
/.viminfo
/.vim/bundle
/.zcompdump
/.zsh_history
/.zsh_history.cUzYiI

/work
