/.bashrc
/.bash_history
/.bash_logout
/.bash_profile
/.bundler
/.cache
/.gem
/.lesshst
/.mysql_history
/.pki
/.pry_history
/.rbenv
/.sqlite_history
/.ssh
/.viminfo
/.vim/bundle
/.zcompdump
/.zsh_history
/.zsh_history.cUzYiI

/work
